.none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ListTop {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.Blist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.BEdit {
  display: flex;
  justify-content: center;
}

.TitleC1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.BEditM {
  display: none;
  justify-content: center;
}
.BMobile {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .none {
    display: none;
  }
  .Blist {
    display: none;
  }
  .BEdit {
    display: none;
  }
  .BMobile {
    font-family: "Nanum";
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }
  .BEditM {
    display: flex;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .TitleC1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Mtr {
    display: flex;
    justify-content: space-between;
  }

  .MView {
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .TitleC1 {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
