.Blist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.BEdit {
  display: flex;
  justify-content: center;
}

.TitleC1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.BEditM {
  display: none;
  justify-content: center;
}
.BMobile {
  display: none;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .Blist {
    display: none;
  }
  .BEdit {
    display: none;
  }
  .BMobile {
    font-family: "Nanum";
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
  .BEditM {
    display: flex;
  }
  .TitleC1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .Mtr {
    display: flex;
    justify-content: space-between;
  }

  .MView {
    width: 10%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
