.fo {
  width: 800px;
  height: 500px;
  padding: 30px;
  border: 2px solid;
}
.gr {
  display: flex;
  justify-content: space-between;
}
.EditTitle {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
