.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fo1 {
  padding: 30px;
  align-items: center;
  background: #fafafa;
  width: 800px;
  height: 500px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.TextInfo {
  height: 290px;
  resize: none;
  background: none;
  border: none;
}
.TextInfo:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .fo {
    width: 300px;
    font-size: 13px;
  }
}
