.header {
  font-family: "Nanum";
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 50px;
}
.header2 {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  position: fixed;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.hover {
  background-color: grey;
  border-radius: 10px;
}
.head_left {
  display: flex;
  align-items: center;
  margin: 8px 12px;
}

.head_medium {
  font-family: "Nanum";

  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_right {
  margin: 0px;
  display: flex;
  align-items: center;
}

.menu_bar {
  margin: 0px;
  display: none;
}

.nonee {
  margin: 0px;
  display: none;
}
.textdeco {
  margin: 0px;
  border: solid 2px red;
}
.head_medium.active {
  display: none;
}
.header.active {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  position: fixed;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.dtoggle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: "black";
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header_ {
    flex-direction: column;
    align-items: flex-start;
  }

  .head_medium {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .menu_bar {
    display: flex;
    flex-direction: column;
    right: 0;
  }
}
