.header {
  font-family: "Nanum";
  color: #1d4e89;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 50px;
}
.header2 {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  position: fixed;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.head_left {
  display: flex;
  align-items: center;
  margin: 8px 12px;
}

.head_medium {
  font-family: "Nanum";

  margin: 0px;
  display: flex;

  align-items: center;
}

.head_right {
  margin: 0px;
  display: flex;
  align-items: center;
}

.menu_bar {
  margin: 0px;
  display: none;
}
.nonee {
  margin: 0px;
  display: none;
}
.textdeco {
  margin: 0px;
  border: solid 2px red;
}
@media screen and (max-width: 768px) {
  .header_ {
    flex-direction: column;
    align-items: flex-start;
  }

  .head_medium {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .head_right {
    display: none;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }
  .menu_bar {
    top: 0px;
    right: 20px;
    position: absolute;
    display: block;
  }
}
