.cards {
  display: flex;
  justify-content: center;
}
.mcard1 {
  width: 15rem;
}
.mcard2 {
  width: 15rem;
  margin-left: 50px;
}
.project_con {
  margin: 0px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mcard1 {
    display: flex;
    margin: 0px auto;
  }
  .mcard2 {
    display: flex;
    margin: 0px auto;
    margin-top: 30px;
  }
}
