.stackBack {
  margin-top: 30px;
  padding: 30px;
  background-color: #b1b6b7;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

.skill {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-gap: 1rem;
  text-align: center; */
}
.cardMargin {
  background: none;
  border: none;
}
.imgsize {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 0px auto;
}
.cardSize {
  width: 150px;
}
.img1 {
  font-size: 20px;
  color: white;
  text-align: center;
}
.h1Text {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: 46px;
  margin-top: 30px;
}
.h2Text {
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 26px;

  margin-top: 10px;
}
.h3Text {
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 26px;

  margin-top: 10px;
}

.overlays {
  font-size: 50px;
}

@media screen and (max-width: 1224px) {
  .skill {
    flex-wrap: wrap;
  }
}
