.skill {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-gap: 1rem;
  text-align: center;
}

.h1text {
  text-align: center;
}

.overlays {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-gap: 1rem;
    text-align: center;
  }
}
