
.profile_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}
.profile{
    display: flex;
}
.profile_img{
    background: red;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    
}   
.profile_text{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;  
    
    
}